@model COMP4900Project.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    //groupid
    @*var formData = new FormData();
    var uploadField = @Html.DisplayFor(model => model.GroupId);
    formData.append("groupid", uploadField);*@

    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetGroupContents", "ContentGroups", new { groupid = Model.GroupId })',
        //data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (Data) {
            obj = JSON.parse(Data);
            //alert(Data);
            var content = "<table class=\"table\"><tr><th>Note</th><th>Reference</th>" +
                "<th>TimeUpdated</th></tr>";

            for (var i = 0; i < obj["Data"].length; i++) {
                var dateValue = parseInt(obj["Data"][i]["TimeUpdated"].replace(/\/Date\((\d+)\)\//g, "$1"));
                var dateValue2 = new Date(dateValue);

                var hours = dateValue2.getHours();
                var minutes = dateValue2.getMinutes();
                var seconds = dateValue2.getSeconds();
                var month = dateValue2.getMonth();
                var day = dateValue2.getDay();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;
                var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
                var dateValue3 = dateValue2.getFullYear() + "-" + month + "-" + day + "  " + strTime;

                content += "<tr><td>" + obj["Data"][i]["Note"] + "</td><td>" +
                    obj["Data"][i]["Reference"] + "</td><td>" + dateValue3 + "</td><td>" +
                    "<a href=\"/Contents/Edit/" + obj["Data"][i]["ContentId"] + "\">Edit</a> | " +
                   "<a href=\"/Contents/Details/" + obj["Data"][i]["ContentId"] + "\">View</a> | " +
                   "<a href=\"/ContentGroups/Delete/" + obj["Data"][i]["ContentGroupId"] + "\">Delete</a>" +
                   "</td></tr>";

            }
            content += "</table>";
            document.getElementById("content").innerHTML = content;

        },
        complete: function () {

        }
    });

</script>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>

<div id="content"></div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |*@
    @Html.ActionLink("Add Notes", "Create2", "ContentGroups", new { groupid = Model.GroupId }, null) |
    @Html.ActionLink("Back to List", "Index", "UserGroups")
</p>
