@model IEnumerable<COMP4900Project.Models.UserContent>

@{
    ViewBag.Title = "Index";
}


@if (Request.IsAuthenticated)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

    $.ajax({
        type: 'GET',
        url: '/UserContents/GetRecentContents/',
        cache: false,
        contentType: false,
        processData: false,
        success: function (Data) {
            obj = JSON.parse(Data);
            var content = "<table class=\"table\"><tr><th>Note</th><th>Reference</th>" +
                "<th>TimeUpdated</th><th></th></tr>";

            for (var i = 0; i < obj["Data"].length; i++) {
                var dateValue = parseInt(obj["Data"][i]["TimeUpdated"].replace(/\/Date\((\d+)\)\//g, "$1"));
                var dateValue2 = new Date(dateValue);

                var hours = dateValue2.getHours();
                var minutes = dateValue2.getMinutes();
                var seconds = dateValue2.getSeconds();
                var month = dateValue2.getMonth();
                var day = dateValue2.getDay();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;
                var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
                var dateValue3 = dateValue2.getFullYear() + "-" + month + "-" + day + "  " + strTime;

                content += "<tr><td>" + obj["Data"][i]["Note"] + "</td><td>" +
                    obj["Data"][i]["Reference"] + "</td><td>" + dateValue3 + "</td><td>" +
                    "<a href=\"/Contents/Details/" + obj["Data"][i]["ContentId"] + "\">View</a>" +
                    "</tr>";
            }
            content += "</table>";
            document.getElementById("content").innerHTML = content;

        },
        complete: function () {

        }
    });

    </script>




    <h2>Home Page</h2>

    <p>Welcome to WhatINoted.com</p>


    <h2>Recent Notes</h2>

    <div id="content"></div>

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contents.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents.TimeUpdated)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents.TimeUpdated)
                </td>
            </tr>
        }
    </table>*@




    @*<table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Sample
            </th>
            <th>
                Date Update
            </th>
            <th></th>
        </tr>

    </table>

    <h2>Recent Citation Updates</h2>*@

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contents.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents.TimeUpdated)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents.TimeUpdated)
                </td>
            </tr>
        }
    </table>*@


    @*<table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Date Updated
            </th>
        </tr>

    </table>*@
}
else
{
    <h2>Welcome to WhatINoted.com</h2>

    <font color="grey"><p>Edit, Save, Share, Export & Reference your notes</p></font>
    <hr />
    <br />
    <h4>Our Mission</h4>
    <p>
        WhatINoted.com is a web and mobile application created to aid students, instructors and everyday readers in their day-to-day note-taking and essay writing preparations. WhatINoted.com will provide a platform for users to share, revise, organize and create notes and citations. 
    </p>
    <p>
        Not only will you be able to share softcopy reference material (e.g. pdf, eBooks, websites), by using OCR technology students will also be able to take a picture of any physical text medium (novel, textbook, magazine, etc.) and convert it into digital text to edit & share.

    </p>

    <p>
        Input ISBN’s to automatically generate Citations in either APA or MLA format
    </p>


    <hr />
    <b />
    <h4>Note Taking</h4>
    <ul>
        <li>Using OCR technology WhatINoted.com will allow you to convert a picture of text to digital text </li>
        <li>Save, Edit, Export & Share your notes with freinds</li>
        <li>Organize your notes into projects </li>
    </ul>

    <h4>Reference Generating</h4>
    <ul>
        <li>Using the ISBN of your book you may generete references automatically</li>
        <li>Cite your notes in MLA & APA format</li>
    </ul>

    <h4>Sharing</h4>
    <ul>
        <li>Add your Friends as Contacts</li>
        <li>Create & Join Groups</li>
        <li>Share amoungst your Contacts & Groups</li>
    </ul>



}