@model COMP4900Project.Models.ContentGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContentGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContentGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
